<div class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="user-photo" (click)="openPhotoDialog()">
        <img [src]="'data:' + userModel?.userPhoto?.contentType + ';base64,' + userModel?.userPhoto?.photoData"
             alt="Profile Photo"
             *ngIf="userModel?.userPhoto"
             style="max-width: 100%; max-height: 100%; border-radius: 50%; cursor: pointer;">
        <mat-icon *ngIf="!userModel?.userPhoto">account_circle</mat-icon>
      </div>
      <mat-card-title>Hi, {{userModel?.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!editMode">
        <p>First Name: {{userModel?.firstName}}</p>
        <p>Last Name: {{userModel?.lastName}}</p>
        <p>Email: {{userModel?.email}}</p>
        <p>Phone Number: {{userModel?.phoneNumber || '-'}}</p>
      </ng-container>
      <form *ngIf="editMode" [formGroup]="userForm">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
            First name is required
          </mat-error>
          <mat-error *ngIf="userForm.controls['firstName'].hasError('maxlength')">
            Too much characters
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
            Last name is required
          </mat-error>
          <mat-error *ngIf="userForm.controls['lastName'].hasError('maxlength')">
            Too much characters
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="userForm.controls['email'].hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="userForm.controls['email'].hasError('email')">
            Invalid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <span matTextPrefix>+38 &nbsp;</span>
          <input matInput formControlName="phoneNumber">
          <mat-error *ngIf="userForm.controls['phoneNumber'].hasError('pattern')">
            Invalid phone number format
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="!editMode" (click)="toggleEditMode()">Edit</button>
      <button mat-button *ngIf="editMode" (click)="saveChanges()" [disabled]="userForm.invalid">Save</button>
      <button mat-button *ngIf="editMode" (click)="toggleEditMode()">Cancel</button>
      <button mat-button color="warn" *ngIf="!editMode" (click)="confirmDeletePhoto()">Delete Photo</button>
    </mat-card-actions>
  </mat-card>
</div>
