<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Hi, {{userModel?.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!editMode">
        <p>First Name: {{userModel?.firstName}}</p>
        <p>Last Name: {{userModel?.lastName}}</p>
        <p>Email: {{userModel?.email}}</p>
        <p>Phone Number: {{userModel?.phoneNumber || '-'}}</p>
      </ng-container>
      <form *ngIf="editMode" [formGroup]="userForm">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <span matTextPrefix>+38 &nbsp;</span>
          <input matInput formControlName="phoneNumber">
          <mat-error *ngIf="userForm.controls['phoneNumber'].hasError('pattern')">
            Invalid phone number format
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="!editMode" (click)="toggleEditMode()">Edit</button>
      <button mat-button *ngIf="editMode" (click)="saveChanges()" [disabled]="userForm.invalid">Save</button>
      <button mat-button *ngIf="editMode" (click)="toggleEditMode()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
