.container {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-card-header {
  display: flex;
  align-items: center;
  height: auto;
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor: pointer;
}

.user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
