<!-- registration.component.html -->
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required type="text">
            <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">
              Username is required
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['username'].hasError('minlength')">
              At least 3 characters long
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['username'].hasError('maxlength')">
              Too much characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required type="email">
            <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
              Invalid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
            <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required')">
              First name is required
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['firstName'].hasError('maxlength')">
              Too much characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required')">
              Last name is required
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['lastName'].hasError('maxlength')">
              Too much characters
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <span matTextPrefix>+38 &nbsp;</span>
          <input matInput formControlName="phoneNumber">
          <mat-error *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern')">
            Invalid phone number format
          </mat-error>
        </mat-form-field>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required type="password">
            <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
              At least 6 characters long
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" required type="password">
            <mat-error *ngIf="registrationForm.controls['confirmPassword'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="registrationForm.controls['confirmPassword'].hasError('minlength')">
              At least 6 characters long
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
