form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select-option-img {
  gap: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.select-option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
