<div class="project-dashboard">
  <div class="project-table-container">
    <mat-form-field appearance="fill">
      <mat-label>Choose Project</mat-label>
      <mat-select [(value)]="selectedProject" (selectionChange)="selectProject($event.value)">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="project-action-container">
      <div *ngIf="selectedProject !== null">
        <button mat-raised-button color="accent" (click)="openEditProjectDialog()">Edit project</button>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="openCreateProjectDialog()">Create project</button>
      </div>
      <div *ngIf="selectedProject !== null">
        <button mat-icon-button color="warn" (click)="confirmDelete(selectedProject.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-card *ngIf="selectedProject" class="project-info">
    <mat-card-header>
      <mat-card-title>{{selectedProject.name}}</mat-card-title>
      <mat-card-subtitle>Project Project: {{getProjectProgress() | number:'1.0-0'}}%</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="project-description">{{selectedProject.description}}</p>
      <div class="project-dates">
        <p><strong>Start:</strong> {{selectedProject.startDate | date}}</p>
        <p><strong>End:</strong> {{selectedProject.endDate | date}}</p>
      </div>
      <mat-progress-bar mode="determinate" [value]="getProjectProgress()"></mat-progress-bar>
      <p class="task-completion">Tasks Completed: {{completedTasks}} з {{totalTasks}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">Create new task</button>
    </mat-card-actions>
  </mat-card>

  <div class="kanban-board">
    <div class="kanban-column" *ngFor="let status of statuses">
      <h3>{{status.name}}</h3>
      <div
        cdkDropList
        [cdkDropListData]="tasks[status.id]"
        [id]="status.id.toString()"
        [cdkDropListConnectedTo]="connectedLists"
        class="task-list"
        (cdkDropListDropped)="onTaskDrop($event)"
      >
        <mat-card class="task-card" *ngFor="let task of tasks[status.id]" cdkDrag (click)="openEditTaskDialog(task)">
          <mat-card-header class="task-header">
            <mat-card-title>{{task.title}}</mat-card-title>
            <button mat-icon-button color="warn" (click)="confirmDeleteTask(task.id); $event.stopPropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content>
            <p>{{task.description}}</p>
            <p *ngIf="task.assignedToEmployee"><strong>Assigned:</strong> {{task.assignedToEmployee.user.firstName + ' ' + task.assignedToEmployee.user.lastName}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
