<div class="notification-container" [@notificationAnimation]="notifications.length">
  <div *ngFor="let notification of notifications" class="notification" [ngClass]="notification.class">
    <div class="notification-icon">
      <mat-icon>{{notification.icon}}</mat-icon>
    </div>
    <div class="notification-content">
      <h3>{{ notification.title }}</h3>
      <p>{{ notification.message }}</p>
    </div>
    <button class="notification-close" (click)="removeNotification(notification)">×</button>
  </div>
</div>
