<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
        First name is required
      </mat-error>
      <mat-error *ngIf="userForm.controls['firstName'].hasError('maxlength')">
        Too much characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
        Last name is required
      </mat-error>
      <mat-error *ngIf="userForm.controls['lastName'].hasError('maxlength')">
        Too much characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="userForm.controls['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="userForm.controls['email'].hasError('email')">
        Invalid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <span matTextPrefix>+38 &nbsp;</span>
      <input matInput formControlName="phoneNumber">
      <mat-error *ngIf="userForm.controls['phoneNumber'].hasError('pattern')">
        Invalid phone number format
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="userForm.invalid">Save</button>
</mat-dialog-actions>
